<suite name = "Prueba Suite Test ejercicio9">

    <listeners>
        <listener class-name="ejercicio9.TestListener"></listener>
    </listeners>

    <test name = "Pruebas ejercicio 9">
        <classes>
            <class name="ejercicio9.OrangeTest"></class>
        </classes>
    </test>

</suite>