<suite name = "Prueba Suite Test ejercicio8">

    <listeners>
        <listener class-name="ejercicio8.SuiteListeners"></listener>
    </listeners>

    <test name = "Pruebas ejercicio 8">
        <classes>
            <class name="ejercicio8.NetflixTest"></class>
            <class name="ejercicio8.YoutubeTest"></class>
        </classes>
    </test>

</suite>