<suite name = "PruebaInterfaces Suite Test">

    <listeners>
        <listener class-name="Practico11.ejemplo5_suiteListener.TestListener"></listener>
    </listeners>

    <test name = "Pruebas Selenium">
        <classes>
            <class name="Practico11.ejemplo5_suiteListener.AppleTest"></class>
        </classes>
    </test>

</suite>